
@font-face {
    font-family:"Bebas Neue";
    font-weight: normal;
    src: local("Bebas Neue"),
        url("fonts/BebasNeue Regular.otf")
}

@font-face {
    font-family:"Bebase Neue";
    font-weight: bold;
    src: local("Bebas Neue Bold"),
        url("fonts/BebasNeue Bold.otf")
}
@font-face {
    font-family:"genesys";
    src: url("fonts/Genesys_Icons_05.ttf")
}
svg text.nb {
 font-family:'Bebas Neue';
 font-size:4.6px;
 font-weight:bold;
 stroke-width:.265;
 text-align:center;
 text-anchor:middle 
}

svg text.ranged_defense {
}

svg text.melee_defense {
 text-anchor:end; 
}

svg .sep {
  fill:none;stroke-width:.127;stroke:#8793b5;
}

svg .deco {
  fill:#f79d38;paint-order:markers fill stroke;
}

.carac {
  fill:#ffffff;font-family:'Bebas Neue';font-size:2.47px;stroke-width:.265;text-align:center;text-anchor:middle ;
}

svg .circle {
 fill:#fff;stroke-width:.596;stroke:#26548b ;
}

svg .polygon {
  fill:#26548b;paint-order:markers fill stroke;stroke-width:.238;stroke:#8793b5;
}

svg {
  display: block; 
  margin: 5px 0;
}

svg.level {
  margin-left: auto;
}

#card > header {
  display :flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#name {
  color:#3A68A5;
  font-family:'Bebas Neue';
  font-weight: normal;
  font-variant: small-caps;
  text-align: left;
  font-size: 32px;
}
svg.caracteristic {
  margin: 20px;
}
svg.defense {
  margin: auto;
}

body {
  background: #FAF6F2;
  font-family: "genesys", serif;
  /*font-family: 'Minion Pro', serif;*/
}

article{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

footer{
  font-size:smaller;
  text-align: center;
}

a {
  color:black;
}
#card {
  position: sticky;
  top: 20px;
  max-width: 600px;
  margin: 6px;
}

#defense{
  display: flex;
  justify-content: space-around;
}

/* table display*/
 table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #918F90;
}

td {
  padding: 4px;
}

th {
  background: #F68712;
  color:#ffffff;
  font-family:'Bebas Neue';
  font-weight: bold;
  text-align: left;
  padding: 7px;
  font-size: 24px;
}

td.icon {
  border-right: none;
  border-left: none;
  width:1em;
  text-align: right;
}

td.level {
  border-left: none;
  border-right: none;
  width: 1em;
}

td.level + td.icon {
  border-left: 1px solid #8793b5;
}

.select {
  width: 10px;
  padding: 0px;
  white-space: nowrap;
}

table input {
  pointer-events: none;
}
input[type="radio"], input[type="checkbox"]{
  margin: 4px;
}
/*
tr:nth-child(even) {
  background-color: #E6F7FE;
} */

tr:hover, .row:hover {
  background-color: #E6F7FE;
}
legend {
  font-family:'Bebas Neue';
  font-weight: bold;
  font-size: 32px; 
  color: #294164;
}

fieldset {
  margin: 14px 1px;
  display: flex;
  align-items: center;
}

#type {
  display: inline-block;
}

#filler {
  flex-grow: 1;
}

input[type="text"]{
  display: inline-block;
}

label ~ input[type="radio"]{
  margin-left: 10px;
}
.section {
 font-weight:bold; 
}

.skills {
    text-transform: capitalize;
}

.desc {
  font-size: smaller;
}


@media (max-width: 1000px) {
    article {
        flex-direction: column;
    }
    
    #card {
        position: relative;
    }
}

#warn p {
    margin-bottom:0;
}

#warn ul {
    margin-top: 0;
}

/* Save buttons display */
#save {
    flex-direction: column;
}

#save textarea{
    resize: none;
    width: 100%;
}
