
<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="static/style.css">
  <!--<link rel="stylesheet" href="https://fontlibrary.org/face/bebas" type="text/css"/>
  <link rel="stylesheet" href="https://fontlibrary.org/face/bebusneuebold" type="text/css"/>-->
</head>

<body>

  <div id="card">
    {% include 'power_level.svg' %}

    {% include "caracteristics.svg" %} 

    {% include "defense.svg" %} 

    <p><span class="section">Skills: </span><span class="skills"></span></p>
    </div>
  
  <form id="type">
    <fieldset>
    <input name="type" type="radio" id="minion"><label for="minion">Minion</label>
    <input name="type" type="radio" id="rival"><label for="rival">Rival</label>
    <input name="type" type="radio" id="nemesis"><label for="nemesis">Nemesis</label>
    </fieldset>
  
    <fieldset>
      <table>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Caracteristics</th>
          <th>Power levels</th>
          <th>Exemples</th>
        </tr>
        {% for array in caracteristics %}
        <tr>
          <td><input type="radio" id="caracteristics{{loop.index0}}" name="caracteristics" onchange="update()" value="{{loop.index0}}"></td>
          <td><label for="caracteristics{{loop.index0}}">{{array['name']}}</label></td>
          <td><label for="caracteristics{{loop.index0}}">{% for name, value in array['caracs'].items() %} {{name|capitalize ~ ': ' ~ value}}{{", " if not loop.last}}{% endfor %}</label></td>
          <td><label for="caracteristics{{loop.index0}}">{% for name, value in array['power_level'].items() %} {{name|capitalize ~ ': ' ~ value}}{{", " if not loop.last}}{% endfor %}</label></td>
          <td><label for="caracteristics{{loop.index0}}">{{array['ex']}}</label></td>
        </tr>
        {% endfor %}
      </table>
      
    </fieldset>

    <fieldset>
      <table>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Caracteristics</th>
          <th>Power levels</th>
        </tr>

        {% for array in skills %}
        <tr>
          <td><input type="checkbox" id="skills{{loop.index0}}" name="skills" onchange="update()" value="{{loop.index0}}"></td>
          <td><label for="skills{{loop.index0}}">{{array['name']}}</label></td>
          <td><label for="skills{{loop.index0}}">
          {% for name, value in array['skills'].items() %}{{name|capitalize ~ ': ' ~ value}}{{", " if not loop.last}}{% endfor %}
          </label></td>
          <td><label for="skills{{loop.index0}}">
          {% for name, value in array['power_level'].items() %}{{name|capitalize ~ ': ' ~ value}}{{", " if not loop.last}}{% endfor %}
          </label></td>
        </tr>
        {% endfor %}
      </table>
      
  </form>
  

  <script type="text/javascript">
    const json_data = '{{data|safe}}';
    const data = JSON.parse(json_data);
    
    
    function update(){
    var choices = {};
    
    var inputs = document.querySelectorAll('table input')
    for (var i=0, n=inputs.length, input; i < n; i++){
      input = inputs[i];
      if (input.checked) 
        choices[input.name + input.value] = data[input.name][input.value];
    }

      result = {"power_level": {"combat": 0, "social": 0, "general": 0}, "skills": {}};

      for (var id in choices){
        for (var item in choices[id]){
          values = choices[id][item];

          if (item == 'caracs'){
            result['caracteristics'] = values 
          } else if (item == 'power_level')
            for (var name in values)
              result["power_level"][name] += values[name];
          else if (item == 'skills')
            for (var name in values){
              prev = (name in result["skills"]) ? result["skills"][name] : 0;
              result["skills"][name] = Math.max(prev, values[name]);
            };
          
        };
        
        // Affichage
        
      var caracs = result['caracteristics'];
      var text;
      for (var id in caracs){
        text = document.querySelector('.nb.' + id);
        text.textContent = caracs[id]; 
      };

      var level = result['power_level'];
      
        //console.log(level);
      for (var id in level){
        text = document.querySelector('.nb.' + id);
        text.textContent = level[id]; 
      };
      
      text = document.querySelector('.skills');
        var skill_array = [];
        var skills = result['skills'];
        if (skills == {}) 
          text.textContent = '';
        for (name in skills)
          skill_array.push(name + ' ' + skills[name]);
        text.textContent = skill_array.sort().join(', ');

      };

    };
    
    
  </script>
</body>


