
<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="static/style.css">
  <!--<link rel="stylesheet" href="https://fontlibrary.org/face/bebas" type="text/css"/>
  <link rel="stylesheet" href="https://fontlibrary.org/face/bebusneuebold" type="text/css"/>-->
</head>

<body>

  <div id="card">
    {% include 'power_level.svg' %}

    {% include "caracteristics.svg" %} 

    {% include "defense.svg" %} 
    </div>
  
  <form id="type">
    <fieldset>
    <input name="type" type="radio" id="minion"><label for="minion">Minion</label>
    <input name="type" type="radio" id="rival"><label for="rival">Rival</label>
    <input name="type" type="radio" id="nemesis"><label for="nemesis">Nemesis</label>
    </fieldset>
  
    <fieldset>
      <table>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Caracteristics</th>
          <th>Power levels</th>
          <th>Exemples</th>
        </tr>
        {% for array in caracteristics %}
        <tr>
          <td><input type="radio" id="{{loop.index0}}" name="carac" onchange="choose('caracteristics', {{loop.index0}})"></td>
          <td><label for="{{loop.index0}}">{{array['name']}}</label></td>
          <td><label for="{{loop.index0}}">{% for name, value in array['caracs'].items() %} {{name|capitalize}}: {{value}},{% endfor %}</label></td>
          <td><label for="{{loop.index0}}">{% for name, value in array['power_level'].items() %} {{name|capitalize}}: {{value}},{% endfor %}</label></td>
          <td><label for="{{loop.index0}}">{{array['ex']}}</label></td>
        </tr>
        {% endfor %}
      </table>
      
    </fieldset>

    <fieldset>
      <table>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Caracteristics</th>
          <th>Power levels</th>
        </tr>

        {% for array in skills %}
        <tr>
          <td><input type="checkbox" id="{{loop.index0}}" name="carac" onchange="toogle('skills', {{loop.index0}})"></td>
          <td><label for="{{loop.index0}}">{{array['name']}}</label></td>
          <td><label for="{{loop.index0}}">{% for name, value in array['skills'].items() %} {{name|capitalize}}: {{value}},{% endfor %}</label></td>
          <td><label for="{{loop.index0}}">{% for name, value in array['power_level'].items() %} {{name|capitalize}}: {{value}},{% endfor %}</label></td>
        </tr>
        {% endfor %}
      </table>
      
  </form>
  

  <script type="text/javascript">
    const json_data = '{{data|safe}}';
    const data = JSON.parse(json_data);
    
    var choice = {};
    
    function choose(type, i){
      var caracs = data[type][i];
      choice[type] = caracs; 
      
      compute()
    };

    function toogle(type, i){
      console.log(choice)
      var key = type + i
      console.log(key)
      console.log(key in choice)
      if (!( type + i in choice )) delete choice[key];
      else choice[key] = data[type][i];
      
      compute()
    };
    
    function compute(){
      var result = {"power_level": {"combat": 0, "social": 0, "general": 0}};

      for (id in choice){
        for (item in choice[id]){
          values = choice[id][item];
          if (item == 'caracs'){
            result['caracteristics'] = values 
          } else if (item == 'power_level')
            for (name in values)
              result["power_level"][name] += values[name];
          
        };
        
        // Affichage
        
      var caracs = result['caracteristics'];
      var text;
      for (var id in caracs){
        text = document.querySelector('.nb.' + id);
        text.textContent = caracs[id]; 
      };

      var level = result['power_level'];
      
        //console.log(level);
      for (var id in level){
        text = document.querySelector('.nb.' + id);
        text.textContent = level[id]; 
      };
      };
    };
    
    
  </script>
</body>


